src/Client/EmployeeValidationSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="EmployeeList">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EmployeeList">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Employee" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="FirstName"/>
                                        <xs:element type="xs:string" name="LastName"/>
                                        <xs:element type="xs:byte" name="Age"/>
                                        <xs:element type="xs:dateTime" name="InstantiationTimestamp"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>